@import "tailwindcss";
:root{
  --color-primary: #0B131F;
  --color-secondary: #324B63;
  --color-accent: #D4AF37;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-accent);
  border-radius: 4px;
}